# Resim dosyalarını LFS ile takip et
*.psd filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text

# Visual Studio projeleri için özel ayarlar (LFS yerine normal takip)
*.sln text eol=crlf
*.csproj text eol=crlf
*.vbproj text eol=crlf
*.xaml text eol=crlf

# Büyük ikili dosyaları LFS ile takip et
*.dll filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
